/* Styling for the banner div */
.homePageBannerDiv {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 5px;
}

/* Banner Overlay */
.homePageBannerOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-shadow: 2px 2px black;
}