/* Styling for the banner div */
.homePageBannerDiv {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 5px;
}

/* Banner Overlay */
.homePageBannerOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-shadow: 5px 5px 3px black;
}

/* Small screen styling */
@media screen and (min-width: 600px) {
    /* Banner Overlay */
    .homePageBannerOverlay {
        font-size: 45px;
    }
}

/* Medium screen styling */
@media screen and (min-width: 768px) {
    /* Banner Overlay */
    .homePageBannerOverlay {
        font-size: 56px;
    }
}

/* Large screen styling */
@media screen and (min-width: 992px) {
    /* Banner Overlay */
    .homePageBannerOverlay {
        font-size: 81px;
    }
}

/* Extra large screen styling */
@media screen and (min-width: 1200px) {
    /* Banner Overlay */
    .homePageBannerOverlay {
        font-size: 98px;
    }
}