body {
    font-family: Arial, Arial, Helvetica, sans-serif !important;
    background-color: rgb(247, 246, 206) !important;
    color: rgb(3, 51, 8) !important;
}

p {
    font-size: 20px;
}

.centerText {
    text-align: center;
}

.paragraphAfterBannerSpacing {
    margin-top: 1em;
}

.comingSoonImage {
    width: 100%;
}