.whoWeAreTextCol {
    margin-top: 1em;
}

.aboutList > li {
    font-size: 20px;
    margin-bottom: 5px;
}

.constitutionText {
    font-weight: bold;
}

.constitutionLink {
    text-decoration: none;
}
@media screen and (min-width: 1024px) {
    .whoWeAreTextCol {
        margin-top: 0em;
    }
}