#contactDiv {
    border-style: solid;
    border-color: lightgray;
    border-radius: 1em;
    padding: 1em;
    margin: 1em auto;
}

/* input:invalid {
    border: 2px red solid !important;
} */

@media screen and (min-width: 992px) {
    #contactDiv {
        width: 60em;
    }    
}

@media screen and (min-width: 1200px) {
    #contactDiv {
        width: 60em;
    }    
}