.cardTitle {
    font-size: 30px !important;
}

.cardSubtitle {
    font-size: 20px !important;
}

.teamCards {
    color: black;
}

.cardText {
    font-size: 18px;
}

.cardMargins {
    margin-bottom: 5px !important;
}

.cardColumns {
    margin-bottom: 10px;
}

/* @media screen and (min-width: 812px) {
    .cardSubtitle {
        font-size: 16px !important;
    }

    .cardText {
        font-size: 14px;
    }
} */