.cardTitle {
    font-size: 30px !important;
}

.cardSubtitle {
    font-size: 25px !important;
}

.teamCards {
    color: black;
}

.cardText {
    font-size: 20px;
}

.cardMargins {
    margin-bottom: 5px !important;
}

.cardColumns {
    margin-bottom: 10px;
}

/* @media screen and (min-width: 1200px) {
    .cardTitle {
        font-size: 30px !important;
    }
    
    .cardSubtitle {
        font-size: 25px !important;
    }

    .cardText {
    font-size: 20px;
}
} */

/* @media screen and (min-width: 1200px) {
    .cardTitle {
        font-size: 40px !important;
    }

    .cardSubtitle {
        font-size: 35px !important;
    }

    .cardText {
        font-size: 30px;
    }
} */