.cardTitle {
    font-size: 30px !important;
}

.cardSubtitle {
    font-size: 20px !important;
}

.teamCards {
    color: black;
}

.cardText {
    font-size: 18px;
}

.cardMargins {
    margin-bottom: 5px !important;
}

.cardColumns {
    margin-bottom: 10px;
}