footer {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

.footerSocialMediaIcon {
    width: 1em;
    margin: 0 3px;
}