.nav-home {
    background-color: red;
}

.nav-about {
    background-color: orange;
}

.nav-get {
    background-color: yellow;
}

.nav-resources {
    background-color: green;
}

.nav-donate {
    background-color: blue;
}

.nav-contact {
    background-color: purple;
}